@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
    font-family: "Poppins";
}
body{
    overflow-x: hidden;
}


/*header*/
#navBar{
    position:fixed;
    top:0;
    left:0;
    background-color: #1f2937;
    width: 100vw;
    height:7vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:white;
    z-index:10;
}
#navBar h2{
    font-weight: 900;
    font-size: 1.8em;
    margin-left:90px;
}
#links{
  width:30vw;
  display: flex;
  justify-content: space-evenly;
}
.link{
    text-decoration: none;
    color: white;
     border-radius: 10px;
    font-size: 1.1em;
    font-weight: 200;
    padding: 10px 15px;
    transition: color 0.3s ease-in,background-color 0.3s ease-in;
}
.link:hover{
    background-color: white;
    color: #1f2937;
    transition: all 0.3s ease-in;
}


/*firstPage*/
#first{
    background-image: url("images/pngwing.com.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top:7vh;
    left:0;
    width:100vw;
    height: 100vh;
    background-color: #1f2937;
    color: white;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    gap:40px;
    text-align: center;
}

#firstText{
    width: 40vw;
}
#first h1{
    margin-top:-400px;
    font-size:6em;
    width:45vw;
}  
#first p{
    font-size: 1.3em;
   width:800px;
}
#signUp1{
   background-color:#ffffff;
   color:#1f2937;
   font-size:1.3em;
   text-decoration: none;
   font-weight: 700;
   padding: 10px 25px;
   border-radius: 10px;
}


/*secondPage*/
#second{
    background-color: #eef1f7;
    color: #1f2937;
    position: absolute;
    top:107vh;
    left:0;
    width:100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#second h1{
    font-size: 56px;
    font-weight: bolder;
}
#boxContainer{
    width:95vw;
    height:80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
#boxContainer p{
    width: 400px;
    margin-top:-150px;
    font-size: 1.1em;
    text-align: center;

}
.box{
    width:400px;
    height:400px;
    border-radius: 7px;
}
.box:nth-of-type(1){
    background-image: url("images/pexels-chris-czermak-2444429.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.box:nth-of-type(2){
    background-image: url("images/pexels-eberhard-grossgasteiger-629161.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.box:nth-of-type(3){
    background-image: url("images/pexels-gianluca-grisenti-4215113.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.box:nth-of-type(4){
    background-image: url("images/pexels-pixabay-326235.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}







/*thirdPage*/
#third{
    position: absolute;
    top:207vh;
    left:0;
    width:100vw;
    height: 80vh;
}
/*fourthPage*/
#fourth{
    position: absolute;
    top:287vh;
    left:0;
    width:100vw;
    height: 60vh;
}
/*footer*/
footer{
    position: absolute;
    top:387vh;
    left:0;
    width:100vw;
    height: 10vh;
}
